.form input,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  background-color: $input-background;
  border: none;

  &::placeholder {
    color: $basic-white;
    opacity: 1;
  }
}

.form input:hover::placeholder,
.form textarea:hover::placeholder {
  color: $accent-blue;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  color: $accent-dark;
  background-color: rgba($color: $basic-white, $alpha: 1);
}

.form button {
  padding: 12px 20px;
  min-width: 270px;
  min-height: 45px;
  color: inherit;
  font-family: $font-family-title;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $basic-white;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-blue;
    background-color: $basic-white;
    border: 1px solid $accent-blue;
  }
}

.form__label {
  margin-top: 2px;
  font-size: 14px;
  line-height: 16px;
  color: rgba($color: $basic-white, $alpha: 0.8);
  cursor: pointer;

  &--checkbox {
    position: relative;
    padding-left: 30px;

    &::before {
      @include pseudo;
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $basic-white;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.form__checkbox-wrapper input:checked + .form__label {
  &--checkbox {
    &::after {
      @include pseudo;
      top: 6px;
      left: 4px;
      width: 8px;
      height: 5px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
    }
  }
}

.form__checkbox-wrapper input:focus + .form__label {
  &--checkbox {
    &::before {
      outline: dotted 1px $basic-white;
      outline-offset: 4px;
    }
  }
}
