.header {
  position: absolute;
  z-index: 2;
  padding-top: 33px;
  padding-bottom: 20px;
  top: 0;
  width: 100%;
  color: $basic-white;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  margin-right: 10px;
}

.header__contacts-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 3px;
  padding-right: 5px;
}

.header__contacts-list {
  @include reset-list;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header__contacts-item + .header__contacts-item {
  margin-left: 68px;
}

.header__contacts-item a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: $font-family-content;
  font-size: 16px;
  line-height: 18px;

  &:hover,
  &:focus,
  &:active {
    color: $accent-blue;
  }
}

.header__order-button {
  margin-left: 38px;
  min-width: 180px;
  box-sizing: border-box;
  padding: 15px 15px 14px 15px;
  font-family: $font-family-title;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $basic-white;
  border-radius: 5px;
  text-align: center;

  &:hover,
  &:focus {
    color: $accent-blue;
    border: 1px solid $accent-blue;
  }

  &:active {
    background-color: $basic-white;
  }
}

.header__contacts-icon {
  &--email {
    width: 19px;
    height: 14px;
    margin-right: 20px;
  }

  &--phone {
    width: 18px;
    height: 18px;
    margin-right: 16px;
  }
}

a .header__contacts-icon {
  fill: $accent-blue;
}

@media (max-width: $desktop-width) {
  .header {
    padding-top: 19px;
  }

  .header__order-button {
    display: none;
  }

  .header__contacts-list {
    align-items: center;
  }

  .header__contacts-item + .header__contacts-item {
    margin-left: 13px;
  }

  .header__contacts-wrapper {
    padding-right: 0;
  }

  .header__contacts-icon {
    margin: 0;

    &--email {
      width: 25px;
      height: 19px;
    }

    &--phone {
      margin-right: -10px;
      width: 24px;
      height: 24px;
    }
  }

  .header__contacts-item span {
    display: none;
  }

  a:hover .header__contacts-icon,
  a:focus .header__contacts-icon,
  a:active .header__contacts-icon {
    fill: $basic-white;
  }
}

@media (max-width: $tablet-width) {
  .header {
    padding-top: 18px;
  }

  .header__contacts-list {
    margin-top: -10px;
  }

  .header__contacts-item + .header__contacts-item {
    margin-left: 4px;
  }

  .header__logo-text {
    display: none;
  }

  .header__logo-image {
    width: 38px;
    height: 38px;
  }
}
