.navigation__list {
  @include reset-list;
  column-count: 2;
  column-width: 250px;
  column-gap: 55px;
}

.navigation__list a {
  font-size: 15px;
  line-height: 25px;
}

@media (max-width: $desktop-width) {
  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .navigation__item {
    padding-left: 0;
  }
}
