/* Fonts */
$font-family-title: "Roboto Condensed", "Arial", sans-serif;
$font-family-content: "PT Mono", "Arial", sans-serif;

/* Colors */
$basic-white: #ffffff;
$accent-blue: #00b2ff;
$basic-black: #000000;
$accent-dark: #1b2d37;
$dark-text: #666666;
$icon-facebook: #3b5998;
$icon-ok: #ed812b;
$icon-vkontakte: #597da3;
$icon-inactive: #cdcdcd;
$footer-text: #1b2d37;
$input-background: #19baff;

// Viewports
$tablet-width: 767px;
$desktop-width: 1023px;
